<style>
form {
    display: grid;
    row-gap: 0.5rem;
    border: 2px solid black;
    padding: 3rem;
    border-radius: 1rem;
}
form div {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    height: 2rem;
}
label {
    font-weight: bold;
}
.submit {
    grid-column: 2;
}
form div input {
    font-size: medium;
    color:gray;
    border:1.5px solid black;
}
button {
    background-color: black;
    color:#fff;
}
button:hover {
    box-shadow: 0 3px 2px rgba(0,0,0,0.25);
}
button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}
</style>
<div>
    <form #userForm="ngForm" class="">
        <div class="">
            <label for="firstname">Firstname</label><input required #fname="ngModel" [(ngModel)]="userModel.fname" class="rounded2 p1" [class.invalid]="fname.invalid && fname.touched" id="firstname" type='text' name='fName' placeholder='firstname' />
        </div>
        <div class="">
            <label for="lastname">Lastname</label><input required #lname="ngModel" [(ngModel)]="userModel.lname" class="rounded2 p1" [class.invalid]="lname.invalid && lname.touched" id="lastname" type='text' name='lName' placeholder='lastname' />
        </div>
        <div class="">
            <label for="email">Email</label><input required #email="ngModel" [(ngModel)]="userModel.email" class="rounded2 p1" [class.invalid]="email.invalid && email.touched" id="email" type='email' name='email' placeholder='eamil' />
        </div>
        <div class="">
            <label for="password">Password</label><input required #pass="ngModel" [(ngModel)]="userModel.pass" class="rounded2 p1" [class.invalid]="pass.invalid && pass.touched" id="password" type='password' name='pass' placeholder='password' />
        </div>
        <div class="">
            <button class="btn rounded2 p1 submit" type="submit" [disabled]="!(userForm.valid)">Submit</button>
        </div>
    </form>
</div>