<style>
    .header {
        background: rgb(74, 74, 82);
        text-align: center;
        color:#fff;
    }
    .div1 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    }
    .div2 {
        display:flex;
        justify-content: end;
    }
    .auth {
        margin-right: 1rem;
    }
</style>
<div class="header p2">
 <div class="div1">
     <img class="rounded btn" routerLink="/" src="../../../../assets/images/maruti logo.png" width="36px" height="36px" alt="logo" />
     <h3 class="m2">Maruti Automobiles</h3>
 </div>
 <div class="div2">
  <div class="auth">
  <button routerLink="/content" class="reg btn rounded m1">Content</button>
  <button routerLink="/register" class="reg btn rounded m1">Register</button>
  <button routerLink="/login" class="login btn rounded m1">Login</button>
  <div>
 </div>   
</div>
